*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color:black;
}
#nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 23px;
}
/* #main #nav{
    background-color: rgb(101, 199, 216);
} */
#main #nav {
    background-color: rgba(127, 255, 212, 0.596);
}
#nav img{
    height: 7vh;
    width: 4vw;
    border-radius: 23vh;
    margin-left: 29px;
}
#nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav ul li{
    list-style: none;
}
#nav ul li a{
    text-decoration: none;
    margin: 2px 43px;
    color: black;
    font-size: 17px;
    font-weight: 500;
}
#nav ul li a:hover{
    color:rgb(82, 83, 83);
}

#nav input{
    width: 19vw;
    height:5vh;
    border-radius: 12vw;
    border:none;
    box-shadow: 1px 2px 3px gray;
    color: black;   
    background-color: rgb(250, 246, 246);
    padding-left:23px;
}
#nav input:hover{
    /* color:white;  */ 
    background-color: rgba(231, 231, 231, 0.719);
}
#nav button{
    margin-right: 53px;
    width: 8vw;
    height: 5vh;
    border-radius: 12vw;
    border:none;
    box-shadow: 1px 2px 3px gray;
    color:rgb(71, 69, 69);
    background-color: rgba(250, 246, 246, 0.664);
    cursor: pointer;
}
#nav button:hover{
    color:rgb(100, 95, 95);
    background-color: rgba(233, 228, 228, 0.719);
}
#part1{
    height: 7vh;
    width: 100%;
    background-color:rgba(241, 152, 68, 0.774);
}
#part2{
    width: 100%;
    height: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(205, 221, 216, 0.76);
}
#part2 #text{
    font-size: 3.6vw;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
#part2 img{
    height: 58vh;
    width: 90vw;
    border-top-left-radius: 4vw;
    border-bottom-right-radius: 3vw;
    box-shadow: 4px 6px 7px gray;
}

